<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nens.bui" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bui</name>
    <description>
        An Apache Cordova application that wraps the mobile Regenradar site.
    </description>
    <author email="ernst.kuilder@nelen-schuurmans.nl" href="http://www.nelen-schuurmans.nl/">
        Nelen en Schuurmans, Reuring en Bombarie
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="exit-on-suspend" value="true" />
</widget>
