
.olControlZoom {
    display: none;
}

.olTileImage {
    image-rendering:optimizeSpeed; /* Legal fallback */
    image-rendering:-moz-crisp-edges; /* Firefox */
    image-rendering:-o-crisp-edges; /* Opera */
    image-rendering:-webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering:crisp-edges; /* CSS3 Proposed */
    -ms-interpolation-mode:bicubic; /* IE8+ */
}

#slider {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 20%; 
	border-radius: 5px;
	background-color: grey;
	opacity: 0.5;
	z-index: 99999;
	bottom: 0px;
	margin: 2%;
}

.chart {
	position: absolute;
	top: 0px;
	margin: 2%;
	z-index: 9999;

}
