@media screen
{
    #map { width: 100%; height:100%; background-color: #44C1E9;}
}

.olControlZoom {
    display: none;
}

.leaflet-top {
  -webkit-transform:rotate(90deg);
  right: -204px;
  top: 204px;
}

.olTileImage {
    image-rendering:optimizeSpeed; /* Legal fallback */
    image-rendering:-moz-crisp-edges; /* Firefox */
    image-rendering:-o-crisp-edges; /* Opera */
    image-rendering:-webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering:crisp-edges; /* CSS3 Proposed */
    -ms-interpolation-mode:bicubic; /* IE8+ */
}

#slider {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 2cm; 
	border-radius: 5px;
  z-index: 99999;
	bottom: 0px;
	margin: 0.2cm;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.4) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.4) 100%);
}

#slider:active {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
}

#progress-bar {
  position: relative;
  width: 100px;
  height: 5px;
  background-color: darkred;
  border-radius: 0;
}

.chart {
	position: absolute;
  left: 0.5cm;
	top: 0.5cm;
	z-index: 9999;
}

#tool-tip {
  width: 50%;
  height: inherit;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: white;
  font-size: 4.5em;
}
